.calculator {
  border: 2px solid #000;
  border-radius: 5px;
  width: 320px;
}
.buttons{
  background-color: #000;
  padding: 10px;
  border-radius: 3px;
  display:grid;
  grid-template-columns:repeat(4,1fr);
  grid-template-rows:repeat(5,1fr);
  gap: 4px;
  width: 300px;
  height: 400px;

}
.calculator button{
  color:#fff;
  font-size: 18px;
  line-height: 1.5;
  border: none;
  border-radius: 50%;
  width: 100%;
  height:100%;
}
.calculator button:active,.calculator button:hover{
  cursor: pointer;
  box-shadow: 0 0 15px #aaa;
}

.calculator .total{
  background-color: #282c34;
  padding: 0 5px;
  max-width: 100%;
  font-size: 36px;
  line-height: 2;
  text-align: right;
  overflow-x: hidden;
}