
type {{pascalCase name}}Type = { thing: string };

export const {{pascalCase name}} = ({ thing }:{{pascalCase name}}Type) => {
  return <div>
    {{pascalCase name}} - <span>{thing}</span>
  </div>;
};
