  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
html * {
  font-family: 'Work Sans', sans-serif;
}
#content{
  position:relative;
  font-size:14px;
}
#main {border:none;border-radius: 0;}
.content {
  background-color: #222;
  border: 2px solid #567;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  position:relative;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom:50px;
}
.description{
  text-align: left;
  transition: all .3s ease-in-out;
  overflow: hidden;
  height:250px;
  min-height: fit-content;
  &.expanded{
    overflow-y: auto;
    height:1075px;
    max-height: fit-content;
   }
  &>div{
    height: 0px;
    overflow: hidden;
  }
}
h1 {
  font-size:4em;
  margin-bottom:0;
  padding:0 40px;
  font-weight: bolder;
}
p{
  font-size:1.5em;
  margin-bottom: 2em;  
  padding:0 40px;
}
.links{
  position: relative;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  .slideLink{
    a {
      color:#a1df51;
      transition: all .3s ease-out ;
      display:inline-block;
      font-size: 2em;  
      font-weight: bold;
      padding: 1em 10px;
      &:hover{
        color:yellow;
        font-size: 3em;
        text-shadow: 0 0 4px #000;
      }
    }
    &:nth-child(odd){
      translate:99%;
      align-self: flex-end;
      text-align: left;
      width: 40%;
      padding:0 40px;
      animation: slideInRight 1s ease-in-out .5s 1 normal forwards;
    }
    &:nth-child(even){
      translate:-99%;
      text-align: right;
      width: 50%;
      padding:0 40px;
      margin:10px 0;
      animation: slideInLeft 1s ease-in-out .7s 1 normal forwards;
      opacity: .9;
    }
    &:nth-child(1){
      background-color: darken(desaturate(salmon,10%), 9%);
      animation-delay: .5s;
    }
    &:nth-child(2){  
      background-color: cadetblue;
      animation-delay: .7s;
    }
    &:nth-child(3){
      background-color:darkcyan;
      animation-delay: .9s;
    }
    &:nth-child(4){
      background-color:chocolate;
      animation-delay: 1.1s;
    }
    &:nth-child(5){
      background-color: cornflowerblue;
      animation-delay: 1.3s;
    }
  }
}

@keyframes slideInRight {
  from {translate:99%; transform: skewX(0);}
  to {translate:10%; transform: skewX(15deg);}
}
@keyframes slideInLeft {
  from {translate:-99%; transform: skewX(0);}
  to {translate:-10%; transform: skewX(-15deg);}
}
