/* ── HireMe ── */
:root {
  interpolate-size: allow-keywords;
}

html * {
  font-family: 'Work Sans', sans-serif;
  color-scheme: light dark;
}

.wrapper {
  max-width: 1139px;
  margin: 0 auto;
}

hr {
  border-style: solid;
  color: white;
  border-top: none;
}

.right {
  text-align: right;
}

#content {
  position: relative;
  font-size: 14px;
}

main {
  border: none;
  border-radius: 0;
}

.content {
  background: url('/arrow-up-down-circle.svg') -150px -150px #111;
  background-size: 20em;
  border: 2px solid #567;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 50px;
}

.wraptop {
  padding-inline: 20px;
}

.description {
  text-align: left;
  transition: all .5s ease-in-out;
  overflow: hidden;
  height: 0px;
  min-height: fit-content;
}
.description.expanded {
  overflow-y: auto;
  max-height: fit-content;
  height: 1075px;
}
.description.expanded > div {
  height: 1075px;
  max-height: fit-content;
  overflow: hidden;
}
.description div {
  transition: height ease-in 0.5s,
    content-visibility 0.5s ease-out allow-discrete;
  height: 0;
  overflow: clip;
}
.description > div {
  transition: all .5s ease-in-out allow-discrete;
  height: 0px;
  overflow: clip;
}
.description + p {
  margin: 10px;
}
.description h3 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  padding-block: 25px;
  border-bottom: 1px solid;
}

h1 {
  font-family: "Fascinate Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  margin-bottom: 0;
  padding: 0 40px;
}

p {
  font-size: 1.1em;
  padding: 0 10px;
}

.links {
  position: relative;
  display: flex;
  flex-direction: column;
}
.links .slideLink {
  transition: all .3s ease-in-out .2s;
  box-shadow: 5px 5px 5px 0px #00000055;
}
.links .slideLink > button {
  padding: 30px 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: #a1df51;
  transition: all .3s ease-out .2s;
  font-size: 2em;
  font-weight: bold;
}

.links .slideLink:nth-child(1)  { background-color: rgb(233, 105, 91);  animation-delay: .5s; }
.links .slideLink:nth-child(1)  div { background-color: inherit; }
.links .slideLink:nth-child(2)  { background-color: cadetblue;           animation-delay: .7s; }
.links .slideLink:nth-child(2)  div { background-color: inherit; }
.links .slideLink:nth-child(3)  { background-color: darkcyan;            animation-delay: .9s; }
.links .slideLink:nth-child(3)  div { background-color: inherit; }
.links .slideLink:nth-child(4)  { background-color: chocolate;           animation-delay: 1.1s; }
.links .slideLink:nth-child(4)  div { background-color: inherit; }
.links .slideLink:nth-child(5)  { background-color: cornflowerblue;      animation-delay: 1.3s; }
.links .slideLink:nth-child(5)  div { background-color: inherit; }
.links .slideLink:nth-child(6)  { background-color: #567;                animation-delay: 1.5s; }
.links .slideLink:nth-child(6)  div { background-color: inherit; }
.links .slideLink:nth-child(7)  { background-color: rgb(233, 105, 91);  animation-delay: .5s; }
.links .slideLink:nth-child(7)  div { background-color: inherit; }
.links .slideLink:nth-child(8)  { background-color: cadetblue;           animation-delay: .7s; }
.links .slideLink:nth-child(8)  div { background-color: inherit; }
.links .slideLink:nth-child(9)  { background-color: darkcyan;            animation-delay: .9s; }
.links .slideLink:nth-child(9)  div { background-color: inherit; }
.links .slideLink:nth-child(10) { background-color: chocolate;           animation-delay: 1.1s; }
.links .slideLink:nth-child(10) div { background-color: inherit; }
.links .slideLink:nth-child(11) { background-color: cornflowerblue;      animation-delay: 1.3s; }
.links .slideLink:nth-child(11) div { background-color: inherit; }
.links .slideLink:nth-child(12) { background-color: #567;                animation-delay: 1.5s; }
.links .slideLink:nth-child(12) div { background-color: inherit; }
.links .slideLink div[popover] {
  margin-inline: 20%;
  text-align: left;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 5px 5px 10px #333;
  transition: 0.7s opacity, 0.7s;
  max-height: 85vh;
  overflow: auto;
}
.links .slideLink div[popover] a {
  color: white;
}
.links .slideLink div[popover] h2 {
  padding: 0 10px;
}
.links .slideLink div[popover]::backdrop {
  background-color: #44444455;
  backdrop-filter: blur(3px);
  transition: 0.7s opacity, 0.7s display allow-discrete,
    0.7s overlay allow-discrete;
  opacity: 0;
}
.links .slideLink div[popover]:popover-open,
.links .slideLink div[popover]:popover-open::backdrop {
  opacity: 1;
}

@media screen and (min-width: 700px) {
  .wraptop {
    padding-inline: 40px;
  }

  .links {
    overflow: hidden;
  }
  .links .slideLink:hover button {
    color: yellow;
    font-size: 2.5em;
    text-shadow: 0 0 4px #000;
  }
  .links .slideLink:nth-child(odd) {
    transform:translate(99%);
    align-self: flex-end;
    text-align: left;
    width: 40%;
    padding: 0 40px;
    animation-name: slideInRight ;
    animation-duration:1s ;
    animation-timing-function: ease-in-out; 
    animation-delay: .5s;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  .links .slideLink:nth-child(odd) button {
    text-align: left;
  }
  .links .slideLink:nth-child(even) {
    transform: translate(-99%);
    text-align: right;
    width: 50%;
    padding: 0 40px;
    margin: 10px 0;
    animation-name: slideInLeft ;
    animation-duration:1s ;
    animation-timing-function: ease-in-out; 
    animation-delay: .7s;
    animation-iteration-count:1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: .9;
  }
  .links .slideLink:nth-child(even) button {
    text-align: right;
  }

}

@keyframes slideInRight {
  from { transform: skewX(0deg) translate(99%); }
  to   { transform: skewX(15deg) translate( 10%); }
}
@keyframes slideInLeft {
  from { transform: skewX(0deg) translate( -99%); }
  to   { transform: skewX(-15deg) translate(-10%); }
}
@starting-style {
  div[popover]:popover-open {
    opacity: 0;
  }
  .links .slideLink div[popover]:popover-open,
  .links .slideLink div[popover]:popover-open::backdrop {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #777575;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .content{
    background: #c6ced0;
    color: #213547;
  }
  .slideLink{
    backdrop-filter: grayscale(20%);
  }
}
