@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
:root{
    interpolate-size: allow-keywords;
}
$salmon: salmon;
html * {
  font-family: 'Work Sans', sans-serif;
}

#content{
  position:relative;
  font-size:14px;
}
main {
  border:none;
  border-radius: 0;
  margin:0 50px;
}
.content {
  background:url('/arrow-up-down-circle.svg') -150px -150px #111;
  background-size: 20em;
  border: 2px solid #567;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-top: 10px;
  position:relative;
  display:flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom:50px;
}
.wraptop{
  padding-inline: 20px;
}
.description{
  text-align: left;
  transition: all .5s ease-in-out;
  overflow: hidden;
  height:110px;
  min-height: fit-content;
  &.expanded{
    overflow-y: auto;
    max-height: fit-content;
    height:1075px;
    &>div{
      height:auto !important;
      overflow: hidden;
    }
  }
  div{
    transition: height ease-in 0.5s,
      content-visibility 0.5s ease-out allow-discrete;
    height: 0;
    overflow: clip;
  }
  &>div{
    transition: all .5s ease-in-out  allow-discrete;
    height: 0px;
    overflow: clip;
  }
  &+p{
    margin:10px;
  }
  h3{
    text-align: center;
    padding-block:25px;
    border-bottom: 1px solid;
  }
}
h1 {
  font-size:4em;
  margin-bottom:0;
  padding:0 40px;
  font-weight: bolder;
}
p{
  font-size:1.1em;
  margin-bottom: 1.6em;  
  padding:0 10px;
}
.links{
  position: relative;
  display:flex;
  flex-direction: column;

  .slideLink{
    transition: all .3s ease-in-out .2s;

    > div{padding: 30px 10px;cursor: pointer;}

    a {
      color:#a1df51;
      transition: all .3s ease-out  .2s;
      display:inline-block;
      font-size: 2em;  
      font-weight: bold;
    }

&:nth-child(1){
  background-color: color.adjust(salmon, $saturation: 90%, $lightness: -9%);
  animation-delay: .5s;
}
&:nth-child(2){  
  background-color: cadetblue;
  animation-delay: .7s;
}
&:nth-child(3){
  background-color:darkcyan;
  animation-delay: .9s;
}
&:nth-child(4){
  background-color:chocolate;
  animation-delay: 1.1s;
}
&:nth-child(5){
  background-color: cornflowerblue;
  animation-delay: 1.3s;
}
&:nth-child(6){
  background-color:#567;
  animation-delay: 1.5s;
}
&:nth-child(7){
  background-color: color.adjust(salmon, $saturation: 90%, $lightness: -9%);
  animation-delay: .5s;
}
&:nth-child(8){  
  background-color: cadetblue;
  animation-delay: .7s;
}
&:nth-child(9){
  background-color:darkcyan;
  animation-delay: .9s;
}
&:nth-child(10){
  background-color:chocolate;
  animation-delay: 1.1s;
}
&:nth-child(11){
  background-color: cornflowerblue;
  animation-delay: 1.3s;
}
&:nth-child(12){
  background-color:#567;
  animation-delay: 1.5s;
}
}
}

@media screen and (min-width: 700px){
  .wraptop{
    padding-inline: 40px;
  }
  
  .links{
    overflow: hidden;
    .slideLink{
      &:hover a{
        color:yellow;
        font-size: 2.5em;
        text-shadow: 0 0 4px #000;
      }
      &:nth-child(odd){
        transform: skewX(10deg);
        translate:99%;
        align-self: flex-end;
        text-align: left;
        width: 40%;
        padding:0 40px;
        animation: slideInRight 1s ease-in-out .5s 1 normal forwards;
        div{
          align-items: flex-start;
        }
      }
      &:nth-child(even){
        transform: skewX(-10deg);
        translate:-99%;
        text-align: right;
        width: 50%;
        padding:0 40px;
        margin:10px 0;
        animation: slideInLeft 1s ease-in-out .7s 1 normal forwards;
        opacity: .9;
        div{
          align-items: flex-end;
        }
      }
      div {
        display: flex;
        flex-direction: column;
        transition: all 1s ease-in-out 200ms;
        margin: 0;
        height: 100%;
        max-height: fit-content;
      }
      p{
        overflow: hidden;
        transition: all .3s ease-in-out .2ms;
        margin:0;
        height:0;
        max-height: max-content;
        width:75%
      }
      &:hover p {
        margin:10px;
        height:800px;
        max-height: fit-content;
      }  

    }
  }
}
@keyframes slideInRight {
  from {translate:99%; }
  to {translate:10%; }
}
@keyframes slideInLeft {
  from {translate:-99%;}
  to {translate:-10%;}
}
